@import "../../scss/variables";

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  color: $color-helper;

  a {
    color: $color-white;
  }
}