$color-white: #fff;
$color-helper: #ABB4BD;
$color-primary: #EF3651;
$color-background: #1E1F28;
$color-dark: #2A2C36;
$color-error: #FF2424;
$color-success: #55D85A;

$main-font-family: 'Montserrat', sans-serif;
$base-font-size: 24px;
